/* Estrutua do site  ---------------------------------------------------------------------------------------- */

* {
    padding: 0;
    margin:0;
}

body {
    font: 12px "Lucida Grande", "Lucida sans Unicode", Arial, sans-serif;
    background: #f4f2ec url("../imagens/fundo.png") repeat-x top;
}

#container {
    width: 1080px;
    margin: 0 auto;
    display: block;
}

a:link, a:active, a:visited {
    color: #af670a;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

/* Logo ---------------------------------------------------------------------------------------- */

header #logo {
    float: left;
}

header #logo h1 a {
    background:url(../imagens/logo.png) no-repeat; 
    width: 248px;
    height: 21px; 
    display: block;
    text-indent: -9999px;
}

/* Barra de navegação ---------------------------------------------------------------------------------------- */

header {
    padding: 15px 0;
    height: 55px;
}

nav ul {
    list-style: none;
    margin: 20px;
    float: right;    
}

nav ul li {
    float: left;
}

nav ul li a:link{
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid #535858;
}

/* Principal ----------------------------------------------------------------------------------------*/

#conteudo {
    width: 710px;
    float: left;
    margin-bottom: 20px;
}

aside {
    width: 350px;
    float: right;
    background: #ebe7dd;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

/* Lateral  ----------------------------------------------------------------------------------------*/

section#visita {
    background: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;
}

article#video, article#mapa, article#exposicoes, article#historia {
    float: left;
    margin-top: 10px;
    width: 310px;
}

article#video {
    margin-left: 25px;
}

article#mapa {
    margin-left: 37px;
}

article#exposicoes {
    margin-left: 25px;  
}

article#historia {
    margin-left: 37px;
}

#exposicoes ul {
    margin-left: 37 px;
}

h4 {
    margin-top: 10px;
    padding-bottom: 3px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #86521a;
}

h3 {
    color: #227115;
    font-size: 1.0em;
    margin: 15px 0 15px 0;
    text-transform: uppercase;
    
}

/* Formulários ---------------------------------------------------------------------------------------- */

input {
    height: 20px;
    width: 80px;
    background: #fff;
    border: none;
    font-size: 1em;
}

form input.campo {
    border: 1px solid #ada484;
}

form input.Disponibilidades {
    background: #9b9271;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
}

fieldset {
    border: none;
}

legend {
    display: block;
}

/* Galeria de fotos ---------------------------------------------------------------------------------------- */

section#galeria a{
    background: url(../imagens/fundo-foto.png) no-repeat;
    display: block;
    float: left;
    padding: 15px 15px 18px 15px;
    margin: 10px 0px 0px 20px;
}

section#galeria img {
    margin-left: 2px;
    margin-top: 2px;
}

section#galeria {
    padding: 0 20px 0 20px;
}

/* Rodepé ---------------------------------------------------------------------------------------- */

footer {
    padding: 20px 0 30px 0;
    text-align: center;
    background: url(../imagens/fundo-rodape.png) no-repeat center top;
    margin-top: 20px;          
}

footer>p a {
        padding: 2px 10px;
}



    


